# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and local environment settings
*.log
*.env
*.local
*.log.*
.st-db*
build_workout_dashboard/*
!build_workout_dashboard/*.py
!build_workout_dashboard/*.json
!build_workout_dashboard/*.csv

# Ignore database files
*.db
*.sqlite3


# Ignore files donwloaded and locally stored
workouts_timedata*/

# After development, I dont think Ill commit the pyproject.toml
pyproject.toml
poetry.lock

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
tests/__pycache__/

# Streamlit cache
.streamlit/
# Comment out the line below if you want to include config.toml and secrets.toml
# .streamlit/config.toml
# .streamlit/secrets.toml

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code specific
.vscode/

# Python distribution / packaging
.Python
*.manifest
*.spec

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

